* {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  background-color: #020C25;
  color: white;
}

h1 {
  color: #02A3E9;
  margin: 0px;
  padding-top: 10px;
  text-align: center;
}

#appTitle {
  font-size: 37px;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

h4 {
  color: #02A3E9;
  margin: 12px auto;
  font-size: 20px;
  text-decoration: underline;
}

.outerBox {
  max-width: 800px;
  margin: 0 auto;
  /* padding: 10px; */
  /* box-shadow: 10px 15px 39px rgba(0, 0, 0, .2); */
  border-radius: 5px;
}

.innerbox {
  width: 95%;
  margin: 5px auto;
  /* box-shadow: 5px 5px 15px rgba(0, 0, 0, .2); */
}

.loginsignup {
  padding: 10px;
  width: 50%;
  margin: 15px auto;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, .2);
}

#navBar {
  padding: 10px;
}

#navbarList {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
}
#navbarList a {
  display: flex;
  color: white;
  flex: 1;
  list-style-type: none;
  text-decoration: none;
  padding: 10px;
  border: 3px solid white;
  border-radius: 5px;
  box-shadow: 3px 4px 2px white;
  font-weight: 500px;
}

a:hover {
  color: #02A3E9;
  background-color: #02A3E9;
}

.flashCardList {
  display: flex;
  flex-wrap: wrap;
}

.flashCard_question {
  padding: 20px;
  border: 1px white solid;
  font-size: .5em;
}

#resourcesList {
  margin-top: 10px;
  text-align: left;
}

#resourcesList a{
  color:white;
}

#add {
  background-color: #02A3E9;
  color: white;
  width: 150px;
  height: 60px;
  border-radius: 3px;
  font-size: 15px;
  margin-left: 10px;
}

#add:hover {
  background-color: white;
  color: #02A3E9;
}

button {
  background-color: #02A3E9;
  color: white;
  width: 30px;
  height: 15px;
  border-radius: 3px;
  font-size: 10px;
  margin-left: 20px;
}

button:hover {
  background-color: white;
  color: #02A3E9;
}

input {
  margin: 15px;
  width: 250px;
  height: 80px;
}

#questionP {
  font-size: 15px;
}

.flashCardList {
  display: block;
}